//Colors 
//Grey shades
$grey-color-08: #141414;
$grey-color-10: #1a1a1a;
$grey-color-15: #262626;
$grey-color-20: #333333;
$grey-color-30: #4d4d4d;
$grey-color-40: #666666;
$grey-color-50: #808080;
$grey-color-60: #999999;

//White shades
$white-color-90: #e4e4e7;
$white-color-95: #f1f1f3;
$white-color-97: #f7f7f8;
$white-color-99: #fcfcfd;

//Purple shades
$purple-color-60: #703BF7;
$purple-color-65: #8254F8;
$purple-color-70: #946CF9;
$purple-color-75: #A685FA;
$purple-color-90: #DBCEFD;
$purple-color-95: #EDE7FE;
$purple-color-97: #F4F0FE;
$purple-color-97: #FBFAFF;