*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Exo 2', sans-serif;
}

html{
    scroll-behavior: smooth;
}


/* global styles */

.container{
    width: 95%;
    max-width: 1340px;
    margin: 0 auto;
}

button{
    border-radius: 20px;
    padding: 10px 45px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.btn-white{
    background-color: #fff;
    color: #461959;
}

.btn-orange{
    background-color: #F86F03;
    color: #fff;
}

.title{
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    position: relative;
    text-align: center;
}

.title::before{
    content: "";
    position: absolute;
    width: 225px;
    height: 2px;
    bottom: -10px;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
}

.title span{
    color: #F86F03;
}

/* Header section styles */

header{
    position: fixed;
    width: 100%;
    height: 10vh;
    background-color: #170550;
    z-index: 999999;
}

header .container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container ul{
    display: flex;
    align-items: center;
    gap: 30px;
}

header .container ul li{
    font-size: 18px;
    font-weight: 600;
}

header .container ul li a{
    color: #fff;
    transition: all .3s;
}

header .container ul li:hover a{
    color: #F86F03;    
}
/* Header section styles end */

/* Home section styles start */
.home{
    height: 100vh;
    width: 100%;
    background-color: #31065A;
}

.home .container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home .container .content{
    width: 575px;
}

.home .container .content h3{
    font-size: 30px;
    font-weight: 600;
    color: #F86F03;
}

.home .container .content h1{
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 5px;
}

.home .container .content h2{
    font-size: 35px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
}

.home .container .content h2 span{
    color: #F86F03;
}

.home .container .content p{
    font-size: 20px;
    color: #fff;
}

.home .container .content .social-links{
    margin: 36px 0;
    display: flex;
    gap: 24px;
}

.home .container .content .social-links a{
    padding: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.home .container .content .social-links a box-icon{
    color: #fff !important;
}
/* Home section style end */

/* About section style start  */
.about-me{
    width: 100%;
    height: 100vh;
    background-color: #170550;
    display: flex;
    align-items: center;
}

.about-me .container{
    display: flex;
    gap: 100px;
    flex-direction: column;
}

.about-me .content{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 120px;
}

.about-me .content .about-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #fff;
}

.about-me .content .about-content h2{
    font-size: 30px;
    font-weight: 600;
    width: 300px;
}

.about-me .content .about-content .paragraphs{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 18px;
    font-weight: 600;
}
/* About section styles end */

/* Services section styles start */
.services{
    width: 100%;
    height: 100vh;
    background-color: #461959;
    display: flex;
    align-items: center;
}

.services .container{
    display: flex;
    gap: 90px;
    flex-direction: column;
}

.services .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.services .cards .card{
    border-radius: 15px;
    background-color: #fff;
    padding: 0px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 33px;
    height: 400px;
}

.services .cards .card h3{
    font-size: 25px;
    color: #170550;
    font-weight: 700;
}

.services .cards .card p{
    font-size: 18px;
    font-weight: 400;
    color: #170550;
}
/* Services section styles end */

/* Skills section styles start */
.skills{
    width: 100%;
    height: 100vh;
    background-color: #170550;
    display: flex;
    align-items: center;
}

.skills .container{
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.skills .container .skills-container{
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.skills .container .skills-container .skill-container{
    display: flex;
    align-items: center;
    gap: 30px;
}

.skills .container .skills-container .skill-container .skill-name{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    width: 15%;
}

.skills .container .skills-container .skill-container .progress-bar{
    width: 75%;
    border-radius: 20px;
    background-color: #43366a;
    height: 20px;
    padding: 5px;
}

.skills .container .skills-container .skill-container .progress-bar .progress{
    height: 100%;
    border-radius: 10px;
    background-color: #F86F03;    
}

.skills .container .skills-container .skill-container .procent{
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}
/* Skills section styles end */

/* Portfolio section styles start */
.portfolio{
    width: 100%;
    height: 100vh;
    background-color: #461959;
}

.portfolio .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 90px;
}

.portfolio .container .portfolio-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 13px;
}

.portfolio .container .portfolio-cards .card{
    height: 200px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .container .portfolio-cards .card img{
    width: 100%;
    height: 100%;
}

.portfolio .container .portfolio-cards .card .hover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ad5bfb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    transition: all .3s;
    top: 100%;
}

.portfolio .container .portfolio-cards .card .hover img{
    width: 25px;
    height: 25px;
}

.portfolio .container .portfolio-cards .card:hover .hover{
    top: 0;
}
/* Portfolio section styles end */

/* Contact section styles start */
.contact{
    width: 100%;
    height: 100vh;
    background-color: #170550;
}

.contact .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 90px;
    height: 100%;
}

.contact .container .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact .container .box .info{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact .container .box .info .item{
    display: flex;
    align-items: center;
    gap: 32px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    width: 650px;
}

.form .contact-detial{
    width: 100%;
    height: 40px;
    border-radius: 50px;
    background-color: #43366a;
    padding: 10px 30px;
    outline: none;
    border: none;
}

.form div{
    display: flex;
    width: 100%;
    gap: 17px;
}

.form textarea.contact-detial{
    height: 150px;
    border-radius: 20px;
    resize: none;
}

.form .contact-detial::placeholder{
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.form button{
    width: 200px;
    height: 40px;
    background-color: #43366a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
/* Contact section styles end */

marquee{
    padding: 20px 0px;
    font-size: 14px;
    font-weight: 700;
    background-color: #31065A;
    color: #fff;
    font-size: 20px;
    font-weight: 600; 
}

marquee div{
    display: flex;
    gap: 200px;
}